.login{
    width: 300px;
    height: 300px;
    border: 2px solid grey;
    text-align: center;
}
.login input{
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.login button{
    width: 207px;
    height: 40px;
    margin-bottom: 10px;
    background: blue;
    color: white;
}
h1{
    
    font-weight: 900px;
    background: linear-gradient(to right, blue,red,yellow,blue,green,red);
    -webkit-background-clip: text;
    color: transparent;
}
p{
    
    color: grey;
}
.slip{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}