<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="A.css">
    <title> Document </title>
</head>
<body>
    <header align="center">
        <h1>Google</h1>
        <p>Đăng nhập bằng tài khoản khác</p>
    </header>
    <div class="slip">
        <div class="login">
            <img src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg" style="width: 70px;" alt="">
            <br><input type="email" placeholder="Email">
            <input type="password" placeholder="Mật khẩu">
            <button type="button">Đăng nhập</button>
            <br><a href="#">Bạn cần trợ giúp ?</a>
        </div>
    </div>
</body>
</html>