<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="demo" id="test" style="display: none;">
        <h1 align="center">Tạo form Login</h1>
    </header>
    <section id="test2">
        <div class="form-login" style="background-color:#e6e4e4;width: 207px; padding: 30px;border-radius: 3px; margin-top: 180px;margin-left: 700px;">
            <div class="logo-login">
                <div class="img-logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBQps5fClhHJiKDtaRZl2ly6FBIYnIkiORBt-4HqfoYFrU2hFzBqx8hmszfsQ7SzrpPM0&usqp=CAU" alt="" style="width: 120px;height: 120px; border-radius: 120px; margin-left: 35px;" >
                </div>
            </div>
            <div class="content-form" style="margin-top: 20px;">
                <form class="form">
                    <div class="form-input">
                        <div class="email">
                            <input type="email" placeholder="Email" name="email" style="width: 200px;height: 25px;border: 1px soild gray;border-bottom: 0;">
                        </div>
                        <div class="password">
                            <input type="password" placeholder="Mật khẩu" name="password" style="width: 200px;height: 25px;;border: 1px soild gray;">
                        </div>
                    </div>
                    <div class="form-button" style="margin-top: 10px;">
                        <button type="button" style="width: 208px;height: 30px;background:rgb(58, 93, 248);color: white; border: 0;border-radius: 3px;text-align: center;"><b>Đăng nhập</b></button>
                    </div>
                    <div class="form-link" style="margin-top: 10px; ">
                        <a href="#" style="text-decoration: none;color: rgb(70, 142, 230);">Bạn cần trợ giúp ?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>