<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DEVMASTER FE</title>
    </head>
    <body>
        <pre>
            I,  Giới thiệu FE
            II, Khới động với HTML
             
                1, Tạo FIle html
                        tên_file . html : Lưu ý tên file không - chứa ký tự đặc biệt,
                                                               - bắt đầu bằng số
                                                               - hạn chế dấu cách
                2, Cấu trúc của 2 trang html 
                    -  2 phần : head : chứa các thẻ meta; thẻ link, thẻ srcipts (các thẻ nội dung nhúng vào trang web)
                                body : hiện thị toàn bộ nội dung bằng mắt nhìn của người dùng thông qua các element 
                                       cũng có thể chứa các thẻ link, thẻ srcipts ...
                    *) các element đa số yêu cầu cặp thẻ đóng mở trừ 1 số thẻ đặc biệt : img, input, hr, br, ...
                3, Làm quen với các element cụ thể
                    - hiển thị nội dung văn bản : p / text, span,..
                    - hiển thị tiêu đề : h1, h2, h3, h4, h5, h6 
                    - hiển thị đường kẻ : hr
                    - thẻ xuống dòng : br 
                    - thẻ danh sách : ul - li, ol - li,dl - dt - dt,...
                    - định dạng văn bản : văn bản in đậm - thẻ b. 
                                          văn bản in nghiêng - thẻ i. 
                                          văn bản gạch chân - thẻ u. 
                    - thẻ biểu diễn hình ảnh : 
                       +) tên element : img ( ko có thẻ đóng)
                       +) một số thuộc tính quan trọng : 
                                      - src : địa chỉ hình ảnh cần được hiển thị
                                      - alt : hiển thị tên ảnh trong trường hợp không biểu diễn được ảnh
                    - thẻ dần đường liên kết :
                       +) tên element : a 
                       +) một số thuộc tính cần lưu ý :
                                    - href : giá trị <=> url cần điều hướng 
                                    - title : hiển thị ghi chú cho thẻ a 
                                    - target : tạo tab mới hay ở yên tap hiện tại
                    ......................................
                4, Kết hợp các element để giải quyết bài toán 
                     kết hợp các element : danh sách, liên kết, nội dung / hình ảnh ...
        </pre> 
    </body>
</html>
