<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ôn tập HTML</title>
</head>
<body>
    <header>

    </header>
    <section>
        <div>
            <pre>
                I, Cấu trúc của 1 file html 
                    - head
                    - body
                II, Table và Form : cú pháp và ứng dụng 
                    1, Table   
                        - cú pháp : table > thead/tbody/tfoot > tr > th/td > element
                        - các thuộc tính ứng dụng => xây dựng lên table :
                            + gom cột, gom ô, tạo viền, tạo khoảng cách 
                    2, Form 
                        - cú pháp : form > element (...)
                        - một số thuộc tính tiếu biểu trong form : action, method,...
                III, Phân chia bố cục và nội dung 
                    *) cấu trúc của 1 thân website thông thường : header - section - footer 
                    header  : thường chứa các cái lựa chọn điều hướng => sử dụng thẻ nav (layout)
                    section : kết hợp tất cả các element 
                    footer  : thường là các phần thông tin ghi chú ...(layout)
                    *) vận dụng phân chia bố cục và nội dung trong từng thành phần hợp lý 
            </pre>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>