<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table && Form</title>
</head>
<body>
    <h1> Tổng quan :</h1>
    <pre style="color: red;">
        <big>
            I, Table- Bảng 
                1, Cú pháp - cấu trúc : table > thead - tbody - tfoot 
                                            tr > th/td 
                2, các thuộc tính thường dùng ; rowspan, colspan, ...
            II, Form - biểu mẫu
                1, Cú pháp - cấu trúc : 
                    Form : + method
                           + action
                2, Các thẻ nhập liệu :
                    input  : type(text,number,date,password,email,radio,...)
                    select : option 
                    textarea :
                    *) Lưu ý : + với input thì mặc định type là text 
                               + các thuộc tính trong input , select, textarea 
                                 - name :quy định vùng lựa chọn 
                                 - id, class, attr-custom: để xác định element 
                                 - value != placeholder và != nội dụng của option 
                    ......
                3, Submit và reset form 
                    element thường dùng : input/button với type tương ứng => page sẽ bị load lại 
                                          button với type="button"        => page sẽ ko bị load lại 
        </big>
    </pre>
    <!-- start header -->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#"> Trang chủ </a>
                </li>
                <li>
                    <a href="#"> Sản phẩm </a>
                </li>
                <li>
                    <a href="#"> Dịch vụ </a>
                </li>
                <li>
                    <a href="#"> Liên hệ </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- start section -->
    <section>
        <pre>
                I, Mục tiêu :
                    1, Nắm và vận dụng được các phương pháp chia bố cục và nội dung website hợp lý
                    2, Sử dụng thành thạo các element thông dụng 
        </pre>
    </section>
    <!-- start footer -->
    <footer>

    </footer>
</body>
</html>