<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực hành</title>
</head>
<body>
    <!-- start header -->
    <header>
        <nav>
            <div style="background: red;">
                <ul style="display: flex;list-style: none;">
                    <li style="padding:  10px; margin-left: 200px;"><a href="#"> Trang chủ </a></li>
                    <li style="padding:  10px;"><a href="#"> Sản phẩm </a></li>
                    <li style="padding:  10px;"><a href="#"> Dịch vụ </a></li>
                    <li style="padding:  10px;"><a href="#"> Tin tức </a></li>
                    <li style="padding:  10px;"><a href="#"> Liên hệ </a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- start section -->
    <section>
        <!-- banner -->
        <div>
           <img src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-lap-trinh-vien-website-php-va-mysql-chuyen-nghiep.png" alt="">
        </div>
        <div>
            <h1> Bài viết của tôi </h1>
            <p>
                My mother is a person I admire most. She devoted a lot of time and energy to the upbringing of my two brothers and 1. Despite working hard, she always made time to teach us many useful things which are necessary and important in our later lives. Moreover, she is a good role model for me to follow. She always tries to get on well with people who live next door and help everyone when they are in difficulties, so most of them respect and love her. I admire and look up to my mother because she not only brings me up well but also stands by me and gives some help if necessary. For example, when I encounter some difficulties, she will give me some precious advice to help me solve those problems. She has a major influence on me and 1 hope that I will inherit some of her traits.
            </p>
        </div>
        <div>
            <h3 align="center">Đăng kí thông tin người sử dụng</h3>
        <form action="" method="" enctype="multipart/form-data" id="form">
            <table width="700" align="center">
                <tr>
                    <td>
                        <b> Tên đăng nhập </b> 
                    </td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td><b> Mật khẩu </b></td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td><b> Nhập lại mật khẩu </b></td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td><b> Email </b></td>
                    <td><input type="email" style="width: 300px;"></td>
                </tr>
                <tr>
                    <td><b> Giới tính </b></td>
                    <td>
                        <input type="radio" name="gender"> Nam
                        <input type="radio" name="gender"> Nữ
                    </td>
                </tr>
                <tr>
                    <td><b>Độ tuổi </b></td>
                    <td>
                        <input type="radio" name="tuổi"> Dưới 13 tuổi
                        <input type="radio" name="tuổi"> Từ 13 đến 17 tuổi
                        <input type="radio" name="tuổi"> Từ 18 đến 25 tuổi
                        <input type="radio" name="tuổi"> Trên tuổi
                    </td>
                </tr>
                <tr>
                    <td><b> Sở thích của bạn </b></td>
                    <td>
                        <input type="checkbox" name="sở thích"> Âm nhạc
                        <input type="checkbox" name="sở thích"> Game
                        <input type="checkbox" name="sở thích"> Thể thao
                        <input type="checkbox" name="sở thích"> Du lịch
                    </td>
                </tr>
                <tr>
                    <td><b>Nghề nghiệp</b></td>
                    <td>
                        <select name="select" id="select" style="width: 200px;">
                            <option value="0">Chọn ngành nghề </option>
                            <option value="1">Giám đốc</option>
                            <option value="2">Nông dân</option>
                            <option value="3">Thương nhân</option>
                            <option value="4">Công nhân</option>
                            <option value="5">Bác sĩ</option>
                            <option value="6">Y tá</option>
                            <option value="7">Kế toán</option>
                            <option value="8">Giáo viên</option>
                            <option value="9">Kĩ sư</option>
                            <option value="10">Công an</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Mô tả bản thân </td>
                    <td>
                        <textarea name="string" id="string" cols="40" rows="3" placeholder="Mô tả về bản thân bạn ..."></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Đăng kí" style="width: 100px; padding:4px 8px ; margin-top: 20px;">
                        <input type="reset" value="Làm lại" style="width: 100px; padding:4px 8px ; margin-top: 20px;" >
                    </td>
                </tr>
                <tr>
                    <td><b>Tác giả : Mai Tuấn Anh</b></td>
                </tr>
                <tr>
                    <td> <b>Liên hệ : 0943621889</b></td>
                </tr>
            </table>
        </form>
        <div>
            <h1>Kungfu Panda</h1>
            <video controls="controls" autoplay loop style="width: 500px; height: 500px;">
                <source src="../Video/panda.mp4" type="video/mp4">
            </video>
            <video controls="controls" loop style="width: 500px; height: 500px;">
                <source src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4?fbclid=IwAR3Tk2rgc6OBQi69AlypStp_MPHfsh0KwFhC8ZiMXu9EZLs2ncRdXhx7FZc" type="video/mp4" >
            </video>
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Wd6tDvMVyKw?si=0ie_SzP7SH7o7XE_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
        <!-- ds sản phẩm -->
        <div>

        </div>
    </section>
    <!-- start footer -->
    <footer>

    </footer>
</body>
</html>