*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
html{
    font-size: 20px;
}
.title-page{
    text-align: center;
    font-size: 3rem;
}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}

