*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}
.content{
    background-color: red;
    border-radius: 3px;
    width: 522px;
    display: flex;
}
.content .A{
    padding: 12px 20px;
}
.content .A{
    border-right: 1px solid;
}
.content .A:last-child{
    border-right: 0;
}
.content .A:hover b{
    color: green;
}
.mega{
    position: absolute;
    background-color: rgb(190, 221, 240);
    top: 100%;
    left: 0;
    display: none;
    width: 315px;
}
.content2 .A:hover b{
    color: blue;
}
.A{
    position: relative;
}
.content > .A:hover .mega{
    display: block;
}
