*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}
.content{
    background-color: red;
    border-radius: 3px;
    width: 522px;
    height: 50px;
    display: flex;
}
.content .A{
    padding: 12px 20px;
    text-align: center;
}
.content .A{
    border-right: 1px solid;
}
.content .A:last-child{
    border-right: 0;
}
.content .A:hover b{
    color: green;
}
